/* code {
  background-color: #272822
}
pre,
pre code {
  background: #272822;
  padding: 10;
  top: 0;
  display: block;
  line-height: 20px;
  color: rgba(49, 52, 57, 1);
  overflow: none;
  white-space: pre-wrap; } */
/* .highlight {
  background-color: #272822; } */
